.colLine {
  border-top: 1px solid var(--a-gray-900);
  margin-left: 8px;
  margin-right: 18px;
  margin-top: 4px;
  min-height: 8px;
}

.avslaat_icon {
  margin-right: 11px;
}

.beskrivelse {
  width: 50%;
}

.beløp {
  display: flex;
  justify-content: flex-end;
  width: 15%;
}

.maaFastsettes {
  padding-left: 0;
  text-align: right;
}

.redError {
  color: var(--a-red-500);
}
