.row :global(.skjemaelement__label) {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
.slettIkon {
  color: var(--a-red-500);
}
.rightAlign > div {
  margin-left: auto;
}
.rightAlign > button {
  margin-left: -1.875rem;
  margin-right: -0.75rem;
}
.rightAlignInput > div > input {
  margin-right: 0;
  text-align: right;
}
.rightAlignInput > div > p {
  text-align: right;
  width: 140px;
}
.buttonRow {
  margin-top: 0;
}
.addPeriode,
.customLink,
.removeButton {
  cursor: pointer;
}
.addPeriode {
  background: none;
  border: none;
  padding: 0;
}
.addCircleIcon,
.imageText {
  display: inline-block;
  margin-right: 1ex;
  vertical-align: text-bottom;
}
.storBredde {
  width: 300px;
}
.mediumBredde {
  width: 80px;
}
.flexColumn3 {
  width: 25%;
}
