.indicatorWithOverlay {
  display: flex;
  position: relative;
}
.indicatorWithOverlay__indicator {
  left: -8px;
  opacity: 0.5;
  position: relative;
  top: 2px;
  z-index: 0;
}
.indicatorWithOverlay__overlay {
  opacity: 1;
  z-index: 1;
}
