.aksjonspunktBehandlerBorder {
  border-bottom: 1px solid var(--a-orange-500);
  border-bottom-right-radius: 3px;
  border-left: 8px solid var(--a-orange-500);
  border-right: 1px solid var(--a-orange-500);
  border-top: none;
  border-top-left-radius: 0;
  padding: 10px 20px 10px 20px;
}
.aksjonspunktBehandlerHeader {
  background-color: var(--a-orange-100);
  border-left: 8px solid var(--a-orange-500);
  border-right: 1px solid var(--a-orange-500);
  border-top: 1px solid var(--a-orange-500);
  border-top-right-radius: 3px;
  padding: 10px 20px 10px 20px;
}
.aksjonspunktBehandlerImageCol {
  margin-bottom: auto;
  margin-top: auto;
  min-width: 30px;
  width: 3%;
}
.aksjonspunktBehandlerTextCol {
  width: 80%;
}
.aksjonspunktBehandlerNoBorder {
  padding: 0;
}
.aksjonspunktBehandlerContainer {
  padding: 0 0 0 20px;
}

@media (max-width: 992px) {
  .aksjonspunktBehandlerContainer {
    padding: 0;
  }
}

.textAreaStyle {
  min-height: 100px;
}

.warningIcon {
  color: var(--a-surface-warning);
  height: 24px;
  width: 24px;
}

.aksjonspunktWrapper {
  overflow-x: auto;
}

.beløpInput {
  max-width: 100px;
  min-width: 85px;
  > input {
    text-align: right;
  }
}
