.colLable {
  min-height: 1px;
  padding-left: 8px;
  padding-right: 8px;
  position: relative;
  width: 20rem;
}
.colValue {
  min-height: 1px;
  padding-left: 0;
  padding-right: 0;
  position: relative;
  text-align: right;
  width: 5rem;
}
.avvikLinjeRad {
  margin-left: 0;
  margin-right: 8px;
  padding-left: 8px;
}
.linjeSkille {
  border-top: 1px solid var(--a-border-divider);
  margin-top: 4px;
  min-height: 8px;
  width: 24.5rem;
}
.linjeSkilleTykk {
  border-top: 1px solid var(--a-gray-900);
  margin-top: 4px;
  min-height: 8px;
  width: 24.5rem;
}
.colLine {
  width: 24.5rem;
}
.colAvvik {
  float: left;
  margin-left: 25px;
  min-height: 1px;
  padding-left: 0;
  padding-right: 0;
  position: relative;
  width: 4rem;
}
.colBorderTopLeft {
  border-top: 1px solid var(--a-gray-900);
  margin-left: 8px;
  margin-top: 4px;
  min-height: 8px;
}
.colBorderTop {
  border-top: 1px solid var(--a-gray-900);
  margin-left: 0;
  margin-right: 0;
  margin-top: 4px;
  min-height: 8px;
}
.colNoBorderTop {
  margin-top: 4px;
}
.beregnetLuftOver {
  padding-top: 4px;
}
.marginLeft {
  margin-left: 30px;
}
