.readOnlyContainer {
  display: inline-block;
}
.readOnlyContainer .readOnlyContent {
  white-space: pre-wrap;
}
.readOnlyContainer .readOnlyContentCenter {
  float: right;
  white-space: pre-wrap;
}
.textarea {
  border-left: 4px solid var(--a-gray-100);
  padding-left: 7px;
}
.space {
  margin-left: 5px;
}
