.readOnlyContainer {
  display: inline-block;
}
.readOnlyContainer .readOnlyContent {
  white-space: pre-wrap;
}
.readOnlyContainer .readOnlyContentCenter {
  float: right;
  white-space: pre-wrap;
}
.hideLabel :global(.navds-label) {
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
.textarea {
  border-left: 4px solid var(--a-gray-100);
  padding-left: 7px;
}
.space {
  margin-left: 5px;
}
