.boxedList__item {
  align-items: center;
  display: flex;
  height: 32px;
  padding: 0 16px;
}
.boxedList__item:hover {
  background: #e7e9e9;
}
.boxedList__item__anchor {
  color: #0073d1;
  text-decoration: none;
  width: 100%;
}
