.krLabel {
  bottom: -0.6875rem;
  font-size: var(--a-font-size-medium);
  font-weight: var(--a-font-weight-regular);
  left: 7rem;
  letter-spacing: 0.002em;
  line-height: var(--a-font-line-height-medium);
  position: absolute;
}

.inntektInput {
  align-items: flex-end;
  display: flex;
  position: relative;
}
