.table {
  width: fit-content;

  input {
    text-align: right;
  }

  tfoot {
    border-bottom: 3px double var(--ax-border-neutral-strong);
    border-top: 2px solid var(--ax-border-neutral-strong);
  }
}
