.table {
  width: fit-content;

  thead tr:nth-child(2) th:not(:first-child),
  tbody tr td:not(:first-child),
  tfoot tr th:not(:first-child) {
    border-inline: 1px solid var(--ax-border-neutral-subtleA);
    width: 120px;
  }

  input {
    text-align: right;
  }

  tfoot {
    border-bottom: 3px double var(--ax-border-neutral-strong);
    border-top: 2px solid var(--ax-border-neutral-strong);
  }
}
