/.idea
/.nyc_output/
/jest_cache/
.env
coverage
*.iml
*.log*
node_modules
dist
.storybook-static-build
lerna-debug.log
.vscode
ssh.exe.stackdump
.DS_Store
.eslintcache
.npmrc
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
vite.config.*.timestamp-*
.nx/cache
.nx/workspace-data