# lerna publish bruker npm  for å publisere og trenger derfor .npmrc
# Ensure scoped packages publish to GitHub Packages (not npmjs)
@navikt:registry=https://npm.pkg.github.com

# Auth for GitHub Packages (provided by GitHub Actions)
//npm.pkg.github.com/:_authToken=${NPM_AUTH_TOKEN}
always-auth=true
