.avsnittOverskrift {
  font-size: 1.125rem;
  font-weight: 600;
}

.semiBoldText {
  font-weight: 600;
}
.redError {
  color: var(--ax-bg-danger-strong);
}
.tabellAktivitet {
  width: 70%;
}

@media screen and (max-width: 1950px) {
  .tabellAktivitet {
    width: 60%;
  }
}

.tabellInntekt {
  display: flex;
  justify-content: flex-end;
  width: 15%;
}

@media screen and (max-width: 1950px) {
  .tabellInntekt {
    width: 20%;
  }
}
