@import '@{coreModulePath}nav-frontend-core/less/_variabler';
// dette stylsheetet brukes av flere av komponentene unde prosess-beregningsgrunnlag
.avsnittOverskrift {
  font-size: 1.125rem;
  font-weight: 600;
}

.venstreKolonne {
  width: 50%;
}

.hoyreKolonne {
  width: 50%;
}

.panelLeft {
  padding: 0 40px 0 0;

  @media (max-width: 992px) {
    padding: 0;
  }
}

.panelRight {
  background-color: transparent;
  padding: 0 0 0 40px;

  @media (max-width: 992px) {
    padding: 0;
  }
}

.storSpace {
  margin-bottom: 72px;
}

.semiBoldText {
  font-weight: 600;
}

.næringEndringBeskrivelse {
  width: 70%;
}

.redError {
  color: @redError;
}

.etikettLiten {
  text-transform: none;
}

.tabellAktivitet {
  width: 70%;
}

.tabellInntekt {
  display: flex;
  justify-content: flex-end;
  width: 15%;
}

.næringTabellAktivitet {
  width: 40%;
}

.næringTabellInntekt {
  text-align: right;
  width: 15%;
}

.næringOpplysningNavn {
  width: 80%;
}

.næringOpplysningInntekt {
  text-align: right;
  width: 20%;
}

.næringOpplysningOrgnr {
  width: 30%;
}
.næringOpplysningDato {
  width: 40%;
}

.heldekkendeKol {
  height: 5px;
  /* stylelint-disable-next-line declaration-no-important */
  padding: 0 !important;
  width: 100%;
}

.colDevider {
  border-top: 1px solid var(--navds-semantic-color-divider);
  margin-top: 4px;
}

.noPaddingRight {
  padding-right: 0;
}

.arbeidPanelSkille {
  padding-left: 8px;
}
