.aksjonspunktContainer {
  border: 2px solid #ff9100;
  border-radius: 3px;
  padding: 1.75rem;
}

.aksjonspunktContainerLukketAP {
  border: 2px solid #b0b0b0;
  border-radius: 3px;
  padding: 1.75rem;
}

.table {
  > tbody > tr:not(:last-child) td {
    border: none;
  }
}

.inputAlignRight {
  > input {
    text-align: right;
  }
}

.marginOnItem {
  margin-left: var(--ax-space-8);
}
