.aksjonspunktBehandlerBorder {
  border: 3px solid var(--a-orange-500);
  border-radius: 3px;
  padding: 10px 20px 10px 20px;
}
.aksjonspunktBehandlerContainer {
  padding: 0 0 0 20px;
}

@media (max-width: 992px) {
  .aksjonspunktBehandlerContainer {
    padding: 0;
  }
}

.verticalLine > div > p {
  border-left: 4px solid var(--a-gray-300);
  padding-left: 16px;
}
.verticalLine > div > span > span {
  font-size: inherit;
}
.verticalAlignMiddle {
  align-items: baseline;
  display: flex;
}
.verticalAlignMiddle .inputPadding > div > div > p {
  font-size: 16px;
  font-weight: 600;
  height: 22px;
  line-height: 22px;
  margin-bottom: 0;
  padding-bottom: 0;
}
.inntektTableTB {
  border: 0;
  border-spacing: 0;
}
.rowSpacer {
  height: 14px;
}
.inntektTableTB > tbody > tr:first-child > td {
  border-right: 0;
  border-top: 0;
}
.inntektTableTB > tbody > tr:first-child > td:nth-child(2) {
  left: 10px;
}
.inntektTableTB > tbody > tr:last-child > td {
  border-right: 0;
  border-top: 1px solid var(--a-gray-300);
}
.inntektTableTB > tbody > tr > td:first-child {
  text-align: left;
}
.inntektTableTB > tbody > tr > td {
  border-bottom: 0;
  border-right: 1px solid var(--a-gray-300);
  padding-bottom: 0;
  position: relative;
  text-align: center;
  top: -1px;
  vertical-align: middle;
}
.inntektTableTB > tbody > tr > td:last-child {
  border-right: 0;
}
.inntektTableTB > thead > tr:first-child > td {
  border-bottom: 0;
}
.textAreaWrapper > div > div > label > span > span {
  font-size: inherit;
}
.textAreaWrapperHeigh > div > div > div > textarea {
  min-height: 6rem;
}
.textAreaWrapperHeigh ::placeholder {
  font-size: inherit;
  font-weight: inherit;
}
.dynamiskKolonne {
  padding-left: 8px;
  padding-right: 8px;
}
