.menuLink__button {
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  gap: var(--ax-space-8);
  justify-content: space-between;
  padding-block: var(--ax-space-8);
  padding-left: var(--ax-space-24);
  padding-right: var(--ax-space-16);
  position: relative;
  width: 100%;
}

.menuLink__button:hover {
  background: var(--ax-bg-neutral-moderate-hoverA);
}

.menuLink__button__active {
  background: var(--ax-bg-neutral-moderate-hoverA);
  text-shadow: 0 0 0.1px #333; /* bruker text-shadow i steden for font-weight for å unngå endring i bredde */
}

.menuLink__button__active:before {
  background: var(--ax-bg-accent-strong);
  content: '';
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: var(--ax-space-4);
}
