.sideMenu__container {
  background-color: var(--ax-bg-default);
  border-right: 1px solid var(--ax-border-neutral-subtle);
  display: flex;
  flex-direction: column;
  min-height: 100%;
  padding-bottom: var(--ax-space-32);
}

.sideMenu__heading {
  padding: var(--ax-space-16);
}

.sideMenu__linkList {
  list-style: none;
  margin: 0;
  padding: 0;
}
