@value default-color: var(--a-border-subtle);
@value default-color-active: var(--a-border-subtle-hover);
@value success-color-icon: var(--a-icon-success);
@value success-color: var(--a-surface-success-moderate);
@value success-color-active: var(--a-green-300);
@value danger-color-icon: var(--a-icon-danger);
@value danger-color: var(--a-surface-danger-moderate);
@value danger-color-active: var(--a-surface-danger);
@value warning-color-icon: var(--a-icon-warning);
@value warning-color: var(--a-surface-warning-moderate);
@value warning-color-active: var(--a-border-warning);

.step {
  display: flex;
  flex: 1;
  flex-direction: column;
  min-width: 0;
  position: relative;
}

.step__button {
  align-items: center;
  background: transparent;
  border: none;
  border-radius: 4px;
  display: inline-flex;
  height: 38px;
  justify-content: center;
  margin-bottom: 6px;
  overflow: hidden;
  padding-top: 4px;
  text-overflow: ellipsis;
  white-space: nowrap;

  &:hover {
    background-color: var(--a-surface-hover);
  }

  &:after {
    background: default-color;
    border-radius: 3px;
    bottom: 0;
    content: '';
    display: block;
    height: 6px;
    left: 0;
    position: absolute;
    width: 100%;
  }

  &.active {
    text-shadow: 0 0 0.2px #333; /* bruker text-shadow i steden for font-weight for å unngå endring i bredde */

    &:after {
      background: default-color-active;
    }
  }

  &.success {
    &:after {
      background: success-color;
    }

    &.active:after {
      background: success-color-active;
    }

    &.partial:after {
      background: repeating-linear-gradient(-45deg, success-color, success-color 10px, white 10px, white 20px);
      border: 1px solid success-color;
    }

    &.partial.active:after {
      background: repeating-linear-gradient(-45deg, success-color-active, success-color-active 10px, white 10px, white 20px);
      border: 1px solid success-color-active;
    }
  }

  &.warning {
    &:after {
      background: warning-color;
    }

    &.active:after {
      background: warning-color-active;
    }
  }

  &.danger {
    &:after {
      background: danger-color;
    }

    &.active:after {
      background: danger-color-active;
    }

    &.partial:after {
      background: repeating-linear-gradient(-45deg, danger-color, danger-color 10px, white 10px, white 20px);
      border: 1px solid danger-color;
    }

    &.active.partial:after {
      background: repeating-linear-gradient(-45deg, danger-color-active, danger-color-active 10px, white 10px, white 20px);
      border: 1px solid danger-color-active;
    }
  }
}

.step__arrow-container {
  display: flex;
  justify-content: center;
  left: 0;
  position: absolute;
  right: 0;
  width: 100%;
}

/* Label truncation */
.step__text {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}


/* StepIcon */
.step__icon {
  display: flex;
  height: 24px;
  margin-right: 10px;
  min-width: 24px;

  &.step__icon--danger {
    color: danger-color-icon;
  }

  &.step__icon--warning {
    color: warning-color-icon;
  }

  &.step__icon--partial {
    border-radius: 50%;
    display: inline-block;
    height: 16px;
    min-width: 16px;

    &.step__icon--success {
      background: linear-gradient(-45deg, success-color-icon, success-color-icon 49%, success-color-icon 49%, success-color-icon 51%, white 51%);
      border: 1px solid success-color-icon;
    }

    &.step__icon--danger {
      background: linear-gradient(-45deg, danger-color-icon, danger-color-icon 49%, danger-color-icon 49%, danger-color-icon 51%, white 51%);
      border: 1px solid danger-color-icon;
    }
  }
}


@media screen and (max-width: 1024px) {
  .step__icon {
    display: none;

    &.step__icon--partial {
      display: none;
    }
  }
}

