.infoSummary {
  background-color: var(--ax-neutral-300);
  max-width: 500px;
  padding: 10px 20px 10px;
}

.positivNumber {
  font-weight: bold;
  margin-left: 8px;
}
.redNumber {
  color: var(--ax-text-logo);
  font-weight: bold;
  margin-left: 8px;
}
.resultName {
  width: 170px;
}
