.table {
  tfoot {
    border-bottom-style: double;
    border-bottom-width: 3px;
    border-color: var(--a-border-default);
    border-top-style: solid;
    border-top-width: 2px;

    td {
      font-weight: 600;
    }
  }
}
