.table {
  tfoot {
    border-top: 2px solid var(--ax-border-neutral-strong);

    tr:last-child th {
      border-bottom: 3px double var(--ax-border-neutral-strong);
      border-top: 2px solid var(--ax-border-neutral-strong);
    }
  }
}
