.contentWithTooltip {
  display: flex;
  position: relative;
}
.contentWithTooltip svg {
  height: 24px;
  overflow: visible;
  stroke: none;
  width: 24px;
}
.contentWithTooltip__tooltipText {
  align-items: center;
  background: var(--ax-bg-default);
  border-radius: 4px;
  box-shadow: 0 1px 2px var(--ax-bg-neutral-soft);
  color: var(--ax-bg-input);
  display: none;
  flex-direction: row;
  left: 0;
  line-height: 1.125rem;
  padding: 2px 8px;
  position: absolute;
  top: 34px;
  white-space: pre;
  z-index: 1;
}
.contentWithTooltip__tooltipText--right {
  left: 34px;
  top: 0;
}
.contentWithTooltip:hover .contentWithTooltip__tooltipText {
  display: block;
}
.contentWithTooltip--inline {
  display: inline-block;
}
