.aksjonspunkt {
  padding: 20px;
}

.aksjonspunkt.erAksjonspunktApent {
  border: 3px solid var(--navds-global-color-orange-400);
  border-radius: 4px;
}

.aksjonspunkt.erIkkeGodkjentAvBeslutter {
  border: 3px solid var(--navds-global-color-red-500);
  border-radius: 4px;
}
