.arrowBox {
  background: var(--ax-bg-default);
  border: 1px solid var(--ax-bg-neutral-strong);
  border-radius: 4px;
  margin-bottom: 10px;
  margin-left: var(--arrow-box-margin-left);
  margin-top: var(--arrow-box-margin-top);
  padding: 15px;
  position: relative;
}

.arrowBox:before,
.arrowBox:after {
  content: '';
  position: absolute;
}

.top:before {
  border-bottom: 12px solid var(--ax-bg-neutral-strong);
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  left: var(--arrow-box-align-offset);
  top: -12px;
}

.top:after {
  border-bottom: 11px solid var(--ax-bg-default);
  border-left: 11px solid transparent;
  border-right: 11px solid transparent;
  left: calc(var(--arrow-box-align-offset) + 1px);
  top: -10px;
}

.left:before {
  border-bottom: 12px solid transparent;
  border-right: 12px solid var(--ax-bg-neutral-strong);
  border-top: 12px solid transparent;
  left: -12px;
  top: var(--arrow-box-align-offset);
}

.left:after {
  border-bottom: 11px solid transparent;
  border-right: 11px solid var(--ax-bg-default);
  border-top: 11px solid transparent;
  left: -10px;
  top: calc(var(--arrow-box-align-offset) + 1px);
}
