.divider {
  border-left: 1px solid var(--a-gray-200);
  border-right: 0 solid var(--a-gray-200);
  display: inline;
  float: right;
  height: 40px;
  margin-left: 10px;
  position: absolute;
}
.modal {
  width: 500px;
}
.messageRow {
  padding-top: 7px;
}
.modalText {
  margin-left: 20px;
  margin-top: 5px;
}
