.expandablePanel {
  display: flex;
}
.expandablePanel p {
  margin: 0;
}
.expandablePanel__button {
  background-color: #e9e7e7;
  border: none;
  padding: 1rem 2rem;
  text-align: left;
  width: 100%;
}
.expandablePanel__button:focus {
  box-shadow: 0 0 0 3px #254b6d;
}
.expandablePanel__contentWrapper {
  flex: 1;
}
.expandablePanel__expandedContent {
  background-color: #e9e7e7;
  padding: 1rem 2rem;
}
.expandablePanel__themeBorder {
  border: 1px solid black;
  border-radius: 4px;
  margin-right: 4px;
  width: 8px;
}
.expandablePanel__themeBorder--success {
  background-color: #9bd1b0;
}
.expandablePanel__themeBorder--warn {
  background-color: #f5b63f;
}
.expandablePanel__themeBorder--neutral {
  background-color: #c6c2bf;
}
