.iconHovedsoker {
  left: 40px;
  position: absolute;
  top: 50px;
  width: 25px;
}

.infoPlaceholder {
  display: flex;
  margin-left: 50px;
}

.scrollButton {
  background-color: var(--navds-global-color-white);
  border: 1px solid lightgray;
  border-bottom: 1px solid lightgrey;
  border-image: none;
  color: cornflowerblue;
  margin-bottom: 2px;
  margin-top: 20px;
  padding-left: 0;
  width: 20px;
}

.scrollButton:focus {
  background-color: var(--navds-global-color-orange-300);
  border-bottom: 2px solid var(--navds-global-color-blue-500);
  color: var(--navds-global-color-blue-500);
  padding-bottom: 4px;
  text-decoration: none;
}

.scrollButton:focus:hover {
  color: var(--navds-global-color-blue-500);
}

.chevronLeft {
  margin-left: -2px;
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .timelineSokerContatiner:after {
    top: 58px;
  }
}
