.kolBeskrivelse {
  width: 70%;
}

.kolVerdi {
  display: flex;
  justify-content: flex-end;
  width: 30%;
}

.radBorderBunn {
  padding-bottom: 8px;
  padding-top: 8px;
  width: 60%;
}

.radNoBorder {
  padding-bottom: 8px;
  padding-top: 8px;
  width: 60%;
}

.radDobbelLinje {
  border-bottom: 1px solid var(--navds-semantic-color-border);
  border-top: 1px solid var(--navds-semantic-color-border);
  padding-bottom: 4px;
  width: 60%;
}

.radEnkelLinje {
  border-bottom: 1px solid var(--navds-semantic-color-divider);
  width: 60%;
}

.radBorderBunnTykk {
  border-bottom: 1px solid var(--navds-semantic-color-border);
  padding-bottom: 8px;
  padding-top: 8px;
  width: 60%;
}

.radTykkLinje {
  border-bottom: 1px solid var(--navds-semantic-color-border);
  width: 60%;
}

.radBorderBunnOgTopp {
  padding-bottom: 8px;
  padding-top: 8px;
  width: 60%;
}

.kolVerdiRød {
  color: var(--navds-global-color-red-500);
}

.kolAvslagIkon {
  width: 3%;
}

.kolAvslagTekst {
  color: var(--navds-global-color-red-500);
  padding-top: 2px;
  width: 90%;
}