.kolBeskrivelse {
  width: 70%;
}
.kolVerdi {
  width: 30%;
}
.radNoBorder {
  padding-bottom: 8px;
  padding-top: 8px;
  width: 70%;
}
.radDobbelLinje {
  border-bottom: 1px solid var(--a-grayalpha-600);
  border-top: 1px solid var(--a-grayalpha-600);
  padding-bottom: 4px;
  width: 60%;
}
.radEnkelLinje {
  border-bottom: 1px solid var(--a-border-divider);
  width: 60%;
}
.radTykkLinje {
  border-bottom: 1px solid var(--a-grayalpha-600);
  width: 60%;
}
.kolVerdiRød {
  color: var(--a-red-500);
}
.kolAvslagIkon {
  width: 3%;
}
.kolAvslagTekst {
  color: var(--a-red-500);
  width: 90%;
}
.avslåttIkon {
  color: var(--a-red-500);
  margin-bottom: auto;
  margin-top: auto;
}
