.boxedList__selectItem {
  align-items: center;
  border-left: 8px solid white;
  display: flex;
  height: 32px;
  padding: 0 8px;
}
.boxedList__selectItem__button {
  background-color: transparent;
  border: none;
  color: #3e3832;
  cursor: pointer;
  padding: 0;
  text-align: left;
  text-decoration: none;
  width: 100%;
}
.boxedList__selectItem:hover {
  background-color: #e7e9e9;
  border-left: 8px solid #e7e9e9;
}
.boxedList__selectItem--selected {
  background-color: #e7e9e9;
  border-left: 8px solid #0067c5;
}
.boxedList__selectItem--selected:hover {
  border-left: 8px solid #0067c5;
}
