.hidden {
  border-bottom: none;
  box-sizing: border-box;
  max-height: 0;
  overflow: hidden;
  padding: 0 4px;
}

.active {
  border-bottom: none;
  max-height: 2000px;
  overflow: hidden;
  padding: 0 4px;
  transition: max-height 1s;
}

.activeRow {
  border-bottom: 1px solid var(--navds-global-color-gray-200);
  composes: active;
}

.toggleIcon {
  padding-right: 12px;
}

.colTopPadding {
  padding-top: 24px;
}
