.row {
  border-bottom: 1px solid #c4c4c4;
}

.harHover:hover {
  background-color: var(--a-deepblue-100);
}

.rowHeader {
  cursor: default;
  font-family: 'Source Sans Pro', Arial, sans-serif;
  font-weight: 600;
}

.grayHeader {
  background-color: var(--a-gray-100);
}

.rowContent {
  cursor: pointer;
}

.selected {
  background-color: #f7f7f7;
  cursor: default;
}

.bold {
  font-weight: bold;
}

.dashedBottomBorder {
  border-bottom: dashed 1px var(--a-gray-200);
}

.solidBottomBorder {
  border-bottom: solid 1px var(--a-gray-200);
}

.apLeftBorder {
  border-left: solid 5px var(--a-orange-400);
}

.noBottomBorder {
  border-bottom: dashed 0;
}
