.table {
  background-color: transparent;
  border-bottom: none;
  border-collapse: collapse;
  border-spacing: 0;
  margin-bottom: 1rem;
  max-width: 100%;
  width: 100%;
}
.table thead {
  display: table-header-group;
}
.table caption {
  color: var(--navds-global-color-gray-400);
  left: -3000px;
  padding-bottom: 8px;
  padding-top: 8px;
  position: absolute;
  text-align: left;
}
.table tbody tr:first-child th, .table tbody tr:first-child td {
  border-top: 1px solid var(--navds-global-color-gray-200);
}
.table.rowHover tbody tr:hover {
  background-color: var(--navds-global-color-deepblue-100);
}

