.datepicker {
  display: flex;
  flex-direction: column;
}

:global(.nav-datovelger__input) {
  padding: 0 0.25rem;
  min-height: 32px;
}

:global(.nav-datovelger__kalenderknapp) {
  min-height: 32px;
}
