.radios {
  > fieldset > div {
    margin-top: -16px;
    vertical-align: middle;
  }

  :global {
    .optionGridFlexRow {
      justify-content: space-between;
    }

    .optionGridFlexColumn:last-of-type {
      margin-right: -48px;
      padding-left: 48px;
    }

    .optionGridFlexColumn:first-of-type {
      margin-right: 0;
      padding-left: 8px;
    }
  }
}

.navnKol {
  width: 500px;
}
