.radios label :global(.typo-normal) {
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
.radios :global(.navds-radio-buttons) {
  /* stylelint-disable-next-line declaration-no-important */
  margin-top: -6px !important;
}
.navnKol {
  width: 500px;
}

.aktiviteterTable > thead > tr {
  border-bottom: 2px solid var(--border-default, rgba(0, 0, 0, 0.44));
}

.aktiviteterTable > tbody > tr:last-of-type {
  border-bottom: 1px solid var(--border-default, rgba(0, 0, 0, 0.44));
}
