.radios label :global(.typo-normal) {
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.navnKol {
  max-width: 500px;
  min-width: 400px;
}

.table {
  margin-bottom: 1rem;
}
