.kolVerdiRød {
  color: var(--ax-danger-600);
}

.avslåttIkon {
  color: var(--ax-danger-600);
  margin-bottom: auto;
  margin-top: auto;
}

/* TODO: Se om man heller kan bruke noe annet enn å skrive css her */
