.table {
  tbody tr:last-child td {
    border-bottom: none;
  }

  tfoot {
    border-bottom: 3px double var(--ax-border-neutral-strong);
    border-top: 2px solid var(--ax-border-neutral-strong);
  }
}

.periodeLabel {
  margin-top: 24px;
}
