.user {
  background-color: transparent;
  color: white;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  padding: 0 16px;
  text-align: left;
}
.user[type='button'] {
  align-items: center;
  border: 3px solid transparent;
  cursor: pointer;
  flex-direction: row;
  margin: 0;
}
.user[type='button']:hover {
  background-color: #59514b;
}
.user[type='button'][aria-expanded='true']:hover {
  background-color: #59514b;
  color: white;
}
.user[type='button'][aria-expanded='true']:hover .user__chevron {
  color: white;
}
.user[type='button']:focus {
  border: 3px solid #ffa733;
  outline: none;
}
.user[type='button'][aria-expanded='true'] {
  background-color: white;
  color: #3e3832;
}
.user[type='button'][aria-expanded='true'] .user__chevron {
  color: #3e3832;
}
.user__name {
  display: block;
  font-size: 1rem;
  margin: 0;
}
.user__unit {
  display: block;
  font-size: 0.75rem;
  line-height: 0.95rem;
  margin: 0;
}
.user__chevron {
  color: white;
  margin-left: 16px;
}
