.table {
  & tfoot > tr {
    border-top: 2px solid var(--a-border-default);
  }
}

.tableGroup {
  & tr:not(:last-child) td {
    border: none;
  }
  & tr:not(:first-child) > td:first-child {
    padding-left: var(--a-spacing-4);
  }
}
