.table {
  & tfoot > tr {
    border-top: 2px solid var(--ax-border-neutral);
  }
}

.tableGroup {
  & tr:not(:last-child) td {
    border: none;
  }
  & tr:not(:first-child) > td:first-child {
    padding-left: var(--ax-space-16);
  }
}
