.header {
  background-color: #3e3832;
  display: flex;
  height: 48px;
  justify-content: space-between;
  padding: 0 0 0 16px;
}
.header__title {
  color: white;
  font-size: 18px;
  font-weight: var(--a-font-weight-bold);
  letter-spacing: -0.002em;
  line-height: 48px;
  margin: 0;
}
.header__subtitle {
  margin-left: 8px;
}
.header__column {
  display: flex;
}
.header__title-anchor {
  text-decoration: none;
}
.header__title-anchor:focus {
  outline: 3px solid #ffa733;
}
.header :global(.arrow) {
  height: 1em;
  position: absolute;
  width: 1em;
}
.header :global(.arrow)[data-popper-placement*='bottom-start']:before {
  background-color: white;
  border-left: 1px solid #b7b1a9;
  border-top: 1px solid #b7b1a9;
  content: '';
  height: 1em;
  position: absolute;
  top: -8px;
  transform: rotate(45deg);
  width: 1em;
}
.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
