.infostripe {
  align-items: center;
  background: #eae2f3;
  border: 1px solid #634689;
  border-left: none;
  border-right: none;
  display: flex;
  margin: -41px -40px 0 -32px;
  padding: 0.5rem 1.4375rem;
}
.infostripe__iconContainer {
  display: flex;
  margin-right: 0.5rem;
}
.infostripe__iconContainer svg {
  height: 1.8125rem;
  width: 1.8125rem;
}
.infostripe__textContainer {
  align-items: center;
  display: flex;
}
.infostripe__text {
  color: #262626;
  margin: 0 1.75rem 0 0;
}
