.sideMenu__container {
  background-color: var(--a-bg-default);
  border-right: 1px solid var(--a-border-subtle);
  display: flex;
  flex-direction: column;
  min-height: 100%;
  padding-bottom: var(--a-spacing-8);
}

.sideMenu__heading {
  padding: var(--a-spacing-4);
}

.sideMenu__linkList {
  list-style: none;
  margin: 0;
  padding: 0;
}
