.addCircleIcon {
  color: var(--a-blue-500);
  height: 18px;
  width: 18px;
}

.addPeriode {
  cursor: pointer;
  padding-block: var(--a-spacing-1);
}

.textfield {
  padding-top: var(--a-spacing-2);
}
