.card {
  align-items: center;
  display: flex;
  height: 56px;
  z-index: 2;

  &:first-of-type {
    padding: 0 0 0 1rem;
  }

  &--active {
    position: relative;

    &:after {
      border-bottom: 0.25rem solid #0067c5;
      bottom: 0;
      content: '';
      left: 0;
      position: absolute;
      width: 100%;
    }
  }
}
