.card {
  align-items: center;
  display: flex;
  height: 56px;
  z-index: 2;
}
.card:first-of-type {
  padding: 0 0 0 1rem;
}
.card--active {
  position: relative;
}
.card--active:after {
  border-bottom: 0.25rem solid #0067c5;
  bottom: 0;
  content: '';
  left: 0;
  position: absolute;
  width: 100%;
}
