@import '@{coreModulePath}nav-frontend-core/less/_variabler';

.navetLink {
  border-bottom: 1px solid @navGra40;
  color: @navBla;
  display: block;
  float: right;
  padding-right: 5px;
  text-decoration: none;
}

.navetLink:hover {
  border-bottom: 1px solid @navBla;
}

.flexColumn12 {
  width: 100%;
}

.flexColumn9 {
  width: 75%;
}

.flexColumn3 {
  width: 25%;
}
