name: 'Deploy storybook'

on:
  push:
    branches: ['main']

jobs:
  deploy-storybook:
    permissions:
      contents: write
      pages: write
    uses: navikt/fp-gha-workflows/.github/workflows/deploy-storybook.yml@main
    secrets:
      READER_TOKEN: ${{ secrets.READER_TOKEN }}
