name: Publish Packages

on:
  push:
    branches:
      - main

jobs:
  publish:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - uses: navikt/fp-gha-workflows/.github/actions/setup-yarnrc@main
        with:
          npmAuthToken: ${{ secrets.READER_TOKEN }}

      - uses: actions/setup-node@v6
        with:
          node-version: 22.17.1
          cache: "yarn"

      - name: Installere dependencies
        run: yarn install --immutable

      - name: Stash yarnrc changes
        run: |
          git add .yarnrc.yml
          git stash push -m "CI yarnrc changes"

      - name: Build packages
        run: yarn build

      - name: Publish packages
        run: lerna publish from-package --yes
        env:
          NODE_AUTH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
