name: Publish packages from tags

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  publish:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - uses: navikt/fp-gha-workflows/.github/actions/setup-yarnrc@main
        with:
          npmAuthToken: ${{ secrets.READER_TOKEN }}

      - uses: actions/setup-node@v6
        with:
          node-version: 22.17.1
          cache: 'yarn'
          registry-url: 'https://npm.pkg.github.com'
          scope: '@navikt'

      - name: Installere dependencies
        run: yarn install --immutable

      - name: Restore .yarnrc.yml
        run: git restore .yarnrc.yml

      - name: Build packages
        run: yarn build

      - name: Publish packages from existing tags
        run: lerna publish from-git --yes --no-private
        env:
          NODE_AUTH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
