.clipboard {
  align-items: center;
  display: flex;
  position: relative;

  &__button {
    background: none;
    border: none;
    cursor: pointer;
    margin-left: 0.25rem;
    padding: 0.25rem;

    &:focus,
    &:hover {
      background-color: #e7e9e9;
      border-radius: 0.0625rem;
      outline: none;
    }

    &[data-tip-disable='false'] {
      background-color: transparent;
    }

    &[data-tooltip]:before {
      background-color: #fff2e0;
      border-radius: 0.25rem;
      bottom: -1.875rem;
      box-shadow: 0 0.0625rem 0.125rem 0 #b7b1a9;
      color: #3e3832;
      content: attr(data-tooltip);
      font-family: 'Source Sans Pro', Arial, sans-serif;
      font-size: 0.875rem;
      font-weight: 400;
      opacity: 0;
      padding: 0.125rem 0.5rem;
      pointer-events: none;
      position: absolute;
      right: 0;
      z-index: 1;
    }

    &[data-tooltip]:hover:before {
      animation-delay: 0.4s;
      animation-duration: 0.1s;
      animation-fill-mode: forwards;
      animation-name: showTooltip;
    }

    &[data-tip-disable='false']:before {
      opacity: 1;
    }
  }

  &__kopiert {
    clip: rect(0.0625rem, 0.0625rem, 0.0625rem, 0.0625rem);
    height: 0.0625rem;
    overflow: hidden;
    /* stylelint-disable-next-line declaration-no-important */
    position: absolute !important;
    white-space: nowrap;
    width: 0.0625rem;
  }

  &__animationContainer {
    display: flex;
  }
}

.clipboard__animate {
  animation-duration: 1s;
  animation-name: fadeInOut;
  animation-timing-function: linear;
  display: flex;
}

@keyframes showTooltip {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeInOut {
  0% {
    opacity: 1;
    transform: translateY(0);
  }

  10% {
    opacity: 0;
    transform: translateY(0.3125rem);
  }

  20%,
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
