.systems {
  border-left: 1px solid rgb(89, 81, 75);
  border-right: 1px solid rgb(89, 81, 75);
  display: flex;
  height: 100%;
}

:global(.navds-button--tertiary).systems__button {
  border: 3px solid transparent;
  color: white;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  width: 3rem;

  :global(.navds-button__icon) {
    display: flex;
    width: 1rem;
  }

  svg {
    fill: white;
  }

  &:global(.navds-button:focus:not(:disabled)) {
    border: 3px solid #ffa733;
    box-shadow: none;
  }

  &[aria-expanded='true'] {
    background-color: white;
    border: 3px solid transparent;
    border-radius: 0;
    outline: none;

    svg {
      color: #3e3832;
      fill: #3e3832;
    }
  }

  &[aria-expanded='true']:global(.navds-button:focus:not(:disabled)) {
    background-color: white;
    border: 3px solid #ffa733;
    border-radius: 0;
    outline: none;

    svg {
      color: #3e3832;
      fill: #3e3832;
    }

    &:hover {
      background-color: #59514b;
      border: 3px solid #ffa733;

      svg {
        color: white;
        fill: white;
      }
    }
  }

  &:hover:not(:disabled),
  &[aria-expanded='true']:hover:not(:disabled) {
    background-color: #59514b;
    border: 3px solid transparent;

    svg {
      color: white;
      fill: white;
    }
  }
}
