.systems {
  border-left: 1px solid #59514b;
  border-right: 1px solid #59514b;
  display: flex;
  height: 100%;
}
:global(.navds-button--tertiary).systems__button {
  border: 3px solid transparent;
  color: white;
  gap: 0;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  width: 3rem;
}
:global(.navds-button--tertiary).systems__button :global(.navds-button__icon) {
  display: flex;
  margin: 0;
  width: 1rem;
}
:global(.navds-button--tertiary).systems__button svg {
  fill: white;
}
:global(.navds-button--tertiary).systems__button:global(.navds-button:focus:not(:disabled)) {
  border: 3px solid #ffa733;
  box-shadow: none;
}
:global(.navds-button--tertiary).systems__button[aria-expanded='true'] {
  background-color: white;
  border: 3px solid transparent;
  border-radius: 0;
  outline: none;
}
:global(.navds-button--tertiary).systems__button[aria-expanded='true'] svg {
  color: #3e3832;
  fill: #3e3832;
}
:global(.navds-button--tertiary).systems__button[aria-expanded='true']:global(.navds-button:focus:not(:disabled)) {
  background-color: white;
  border: 3px solid #ffa733;
  border-radius: 0;
  outline: none;
}
:global(.navds-button--tertiary).systems__button[aria-expanded='true']:global(.navds-button:focus:not(:disabled)) svg {
  color: #3e3832;
  fill: #3e3832;
}
:global(.navds-button--tertiary).systems__button[aria-expanded='true']:global(
    .navds-button:focus:not(:disabled)
  ):hover {
  background-color: #59514b;
  border: 3px solid #ffa733;
}
:global(.navds-button--tertiary).systems__button[aria-expanded='true']:global(.navds-button:focus:not(:disabled)):hover
  svg {
  color: white;
  fill: white;
}
:global(.navds-button--tertiary).systems__button:hover:not(:disabled),
:global(.navds-button--tertiary).systems__button[aria-expanded='true']:hover:not(:disabled) {
  background-color: #59514b;
  border: 3px solid transparent;
}
:global(.navds-button--tertiary).systems__button:hover:not(:disabled) svg,
:global(.navds-button--tertiary).systems__button[aria-expanded='true']:hover:not(:disabled) svg {
  color: white;
  fill: white;
}
