.hoyRisikoPanel {
  border: 1px solid;
  border-radius: 2px;
}

.hoyRisikoPanelHeader {
  background-color: #f3cccc;
}

:global(.navds-accordion__header) {
  border-bottom: 0px !important;
}

:global(.navds-accordion__content) {
  border-bottom: 0px !important;
}
