.buttonRow {
  margin-top: 0;
}

.addPeriode,
.customLink,
.removeButton {
  cursor: pointer;
}

.addPeriode {
  background: none;
  border: none;
  padding: 0;
}

.addCircleIcon,
.imageText {
  display: inline-block;
  margin-right: 1ex;
  vertical-align: text-bottom;
}

.flexColumn {
  width: 25%;
}
