.slettIkon {
  color: var(--a-red-500);
}
.rightAlign {
  text-align: right;
}
.rightAlignInput {
  text-align: right;
}
.rightAlignInput :global(.navds-form-field) {
  margin-left: auto;
}
.rightAlignInput > div > input {
  margin-right: 0;
  text-align: right;
}
.rightAlignInput > div > p {
  text-align: right;
  width: 140px;
}
.inntektTable {
  border-bottom: 0;
  margin-bottom: 8px;
}
.inntektTable > thead > tr > td:first-child {
  padding-left: 0;
  text-align: left;
}
.inntektTable > tbody > tr > td:nth-child(2) {
  max-width: 50px;
  text-align: left;
}
.inntektTable > thead > tr > td:nth-child(2) {
  text-align: left;
}
.inntektTable > thead > tr > td:last-child {
  text-align: right;
}
.inntektTable > thead > tr > td {
  text-align: right;
}
.inntektTable > tbody > tr > td {
  text-align: right;
  vertical-align: middle;
}
.inntektTable > tbody > tr > td:first-child {
  padding-left: 0;
  text-align: left;
}
.inntektTable > tbody > tr > td:last-child {
  text-align: right;
}
.inntektTable > tbody > tr > td:not(:first-child) > div > div > input {
  text-align: right;
}
.inntektTable > tbody > tr:last-child {
  padding-bottom: 0;
  padding-top: 0;
}
.inntektTable > tbody > tr:last-child > td {
  border-top: 0;
}
.inntektTable :global(.skjemaelement__label) {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
.buttonRow {
  margin-top: 0;
}
.addPeriode,
.customLink,
.removeButton {
  cursor: pointer;
}
.addCircleIcon,
.imageText {
  display: inline-block;
  margin-right: 1ex;
  vertical-align: text-bottom;
}
.readOnlyContainer {
  display: inline-block;
}
.readOnlyContainer .readOnlyContent {
  margin-bottom: 16px;
  padding-bottom: 0.45rem;
  white-space: pre-wrap;
}
.storBredde {
  width: 150px;
}
.mediumBredde {
  width: 100px;
}
.litenBredde {
  width: 70px;
}
