.slettIkon {
  color: var(--ax-danger-600);
}

.table {
  tfoot {
    border-block: 2px solid var(--ax-border-neutral-strong);
  }
}

.addPeriode,
.customLink,
.removeButton {
  cursor: pointer;
}

.addCircleIcon,
.imageText {
  display: inline-block;
  margin-right: 1ex;
  vertical-align: text-bottom;
}

.readOnlyContainer {
  display: inline-block;
}

.readOnlyContainer .readOnlyContent {
  margin-bottom: 16px;
  padding-bottom: 0.45rem;
  white-space: pre-wrap;
}

.inntektOldStrikethrough p {
  color: var(--ax-text-neutral);
  text-decoration: line-through;
}

.saksbehandlerIcon {
  color: var(--ax-warning-500);
  font-size: 1.5rem;
}
