.slettIkon {
  color: var(--ax-danger-600);
}

.table {
  .alignRight > div:first-of-type {
    align-items: end;
    justify-content: end;

    input,
    select {
      direction: rtl;
    }
  }

  tfoot {
    border-block: 2px solid var(--ax-border-neutral-strong);
  }
}

.addPeriode,
.customLink,
.removeButton {
  cursor: pointer;
}

.addCircleIcon,
.imageText {
  display: inline-block;
  margin-right: 1ex;
  vertical-align: text-bottom;
}

.readOnlyContainer {
  display: inline-block;
}

.readOnlyContainer .readOnlyContent {
  margin-bottom: 16px;
  padding-bottom: 0.45rem;
  white-space: pre-wrap;
}

.inntektNew {
  margin-left: 0.5rem;
  margin-right: 0.25rem;
}

.inntektOld {
  display: inline-block;
}

.inntektOldStrikethrough {
  display: inline-block;
}

.inntektOldStrikethrough p {
  color: var(--ax-text-neutral);
  text-decoration: line-through;
}

.saksbehandlerIcon {
  color: var(--ax-warning-500);
  font-size: 1.5rem;
  margin-right: -1.75rem;
}
