.slettIkon {
  color: var(--ax-danger-600);
}

.rightAlign {
  text-align: right;
}

.rightAlignInput {
  text-align: right;
}

.rightAlignInput > div > div {
  justify-content: end;
}

.rightAlignInput > div > input {
  margin-right: 0;
  text-align: right;
}

.rightAlignInput > div > div > div > p {
  text-align: right;
}

.buttonRow {
  margin-top: 0;
}

.addPeriode,
.customLink,
.removeButton {
  cursor: pointer;
}

.addCircleIcon,
.imageText {
  display: inline-block;
  margin-right: 1ex;
  vertical-align: text-bottom;
}

.readOnlyContainer {
  display: inline-block;
}

.readOnlyContainer .readOnlyContent {
  margin-bottom: 16px;
  padding-bottom: 0.45rem;
  white-space: pre-wrap;
}

.storBredde {
  width: 150px;
}

.mediumBredde {
  width: 100px;
}

.litenBredde {
  width: 70px;
}

.inntekt {
  display: flex;
  justify-content: flex-end;
}

.inntektNew {
  margin-left: 0.5rem;
  margin-right: 0.25rem;
}

.inntektOld {
  display: inline-block;
}

.inntektOldStrikethrough {
  display: inline-block;
}

.inntektOldStrikethrough p {
  color: var(--ax-text-neutral);
  text-decoration: line-through;
}

.saksbehandlerIcon {
  color: var(--ax-bg-warning-moderate);
  font-size: 1.5rem;
  margin-right: -1.75rem;
}
