.smallMarginTop {
  margin-top: 0.5rem;
}
.mediumMarginTop {
  margin-top: 1rem;
}
.largeMarginTop {
  margin-top: 1.5rem;
}
.xLargeMarginTop {
  margin-top: 2rem;
}
.xxLargeMarginTop {
  margin-top: 4rem;
}
.smallMarginBottom {
  margin-bottom: 0.5rem;
}
.mediumMarginBottom {
  margin-bottom: 1rem;
}
.largeMarginBottom {
  margin-bottom: 1.5rem;
}
.xLargeMarginBottom {
  margin-bottom: 2rem;
}
.xxLargeMarginBottom {
  margin-bottom: 4rem;
}
